:root {
    --light-blue: 211, 226, 238;
    --rose-pink: 237, 110, 195;
    --cream: 239, 236, 230;
    --pumpkin: 255, 129, 51;
    --green: 145, 204, 25;
    --grey-black: 30, 28, 22;
    --purple: 73, 9, 51;
}

body {
    background-color: black;
    background-image: url(hayley-clues-4KGH5Qzoddk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    height: 95vh;
    color: rgb(var(--grey-black));
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

button {
    margin: 5px;
}

header {
    background-color: rgba(var(--cream), 0.8);
    width: 105%;
    margin: 0;
}

footer {
    background-color: rgba(var(--cream), 0.8);
    font-size: 0.7rem;
    text-align: center;
    width: 101%;
    height: 7%;
    border: rgba(var(--light-blue), 0.19) solid 1px;
}

main {
    height: 75%;
    background-color: rgba(var(--light-blue), 0.1);
    padding: 1rem;
}

nav {
    background-color: rgba(var(--rose-pink), 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row;
    width: 100%;
}

button {
    background-color: rgb(var(--light-blue));
    border: 0.2px solid rgb(var(--grey-black));
    border-radius: 2px;
    padding: 0.2em;
    min-width: 5em;
    cursor: pointer;
}

#container {
    background-color: rgba(var(--cream), 0.5);
    height: 100%;
    width: 95%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-flow: column;
    padding: 0;
    border: 0.2px solid rgba(var(--grey-black), 0.2);

}

#container>nav {
    opacity: 90%;
    background-color: rgba(var(--pumpkin), 0.6);
}

#app {
    border: rgba(var(--light-blue), 0.2) solid 1px;
    flex: 1 1 auto;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 2px;
}

a {
    color: rgba(var(--rose-pink));
}

/* generated item styles */
.compTaskCard,
.taskCard {
    background-color: rgba(var(--light-blue), 0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0.5px solid rgba(var(--grey-black), 0.4);
    border-radius: 5px;
    min-width: 18%;
    margin: 5px;
}

.compTaskCard>.taskHeader {
    background-color: rgba(var(--green), 0.6);
}

.taskHeader {
    background-color: rgba(var(--pumpkin), 0.6);
    text-align: center;
    color: rgb(var(--grey-black));
    position: relative;
    top: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.deleteBtn:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    cursor: pointer;
}

.checkBtn:hover {
    filter: invert(65%) sepia(78%) saturate(446%) hue-rotate(35deg) brightness(95%) contrast(98%);
    cursor: pointer;
}

.compTaskCard .checkBtn:hover {
    filter: invert(60%) sepia(6%) saturate(7360%) hue-rotate(336deg) brightness(103%) contrast(101%);
}

/* modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--grey-black));
    background-color: rgba(var(--grey-black), 0.7);
}

.modal-content {
    position: relative;
    background-color: rgba(var(--light-blue), 0.6);
    margin: auto;
    padding: 0;
    border: 1px solid rgba(var(--light-blue), 0.8);
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(var(--grey-black), 0.2), 0 6px 20px 0 rgba(var(--grey-black), 0.2);
}

.modal-header {
    background-color: rgba(var(--purple), 0.9);
    width: 100%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    max-height: 3rem;
    color: rgba(var(--light-blue), 1);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 8px;
    padding-top: 10px;
    width: 80%;
    margin: auto;
}